.back3{
    background: url("https://img.freepik.com/free-vector/gradient-hexagonal-background_23-2148932756.jpg?w=1060&t=st=1668110156~exp=1668110756~hmac=29c300342159bf3a68774706255da13859560d1e4aa8e157b5fa8dd24f34da91");
    height: 92vh;
    width: 70%;
    margin: 20px auto;
    margin-bottom: 40px;
    padding: 50px 70px;
    background-color: #ced7ef;
    color: rgb(0, 0, 0);
}
.back3 h3{
    text-align: center;
    margin-top:-2rem ;

    
}
.back3 h1{
    text-align: center;
    padding: 60px;
}