
.carusel{
    width:100%;
    height:auto;
    /* background-color: aqua; */
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5px;
}
.carusel h3{
    padding-top: 50px;
    font-size: 30px;}
.carusel p{
    margin-top: 15px;
}
.slider{
    width:85%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    height: 420px;
}
.slider2 .ssContent{
    font-size: 25px;
    margin-bottom: 20px;
    /* padding-left: 40px; */
    text-align: center;
    
}
.slider1 .ss1{
    text-align: center;
    
}
.slider3 .ss2{
  text-align: center;
    
}

.btn1{
 
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent; 
    border-left: 10px solid transparent; 
    border-right:40px solid rgb(0, 162, 255); 
    background-color: white;
      }
    

/* .btn1 img{
    transform: rotate(180deg);
    width:20px;
    height: auto;
    position: relative;
    bottom:1px;

} */
.btn2{
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent; 
    border-right: 10px solid transparent; 
    border-left:40px solid rgb(0, 162, 255);
    background-color: white;

}
/* .btn2 img{
    width:20px;
    height: auto;
    position: relative;
    bottom:3px;
    left: 5px;
} */
.slider2{
    box-shadow: 5px 2px 30px rgb(0, 0, 0);



}
/* .slider.btn1.bt1 p{
margin-left: px;
} */

 /* @media screen and (min-width:1131px) {
   .slider1{
      display:none;
   }
   .slider3{
      display: none;
   }
   .btn1{
      margin-left: 10rem;
   }
   .btn2{
      margin-right: 10rem;
   }
 } */
 /* @media only screen and (max-width: 480px) and (min-width: 0px){
    .slide-image {
        width: 35%;
        height: 50%;
        margin-top: 80px;
        position: absolute;
        object-fit: cover;
        right: 52.5rem;
        border-radius: 10px;
    }
    .all-dots {
        width: 20%;
        height: 15%;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 65%;
        z-index: 200;
        right: 35%;
    }
    .box9{
        visibility: hidden;
        display: none;
    }
 } */

 /* .container {
    position: relative;
    width: 20vw;
    height: 100vh;
    top: -50vw;
    left: -20vw;
  }
  
  .box {
    width: 600px;
    height: 150px;
    transition-duration: 3s;
    transition-property: width;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
    /* background-color: red; */
    /* border: 2px solid red; */
  /* }
  
  .container:hover .box {
    width: 1000px;
  } */ 

