.textC{
    text-align: center;
    font-size:25px;
    font-weight: 300;
  }
  
  .contact-panel1 {
    background-color: white;
    padding: 1% 20%;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction:row;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
  }
  .contact-map {
    position: relative;
  }
  #form {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 20px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .contact-form-control {
    text-align: center;
    margin-bottom: 5px;
  }
  
  .contact-form-control label {
    display: inline;
    margin-bottom: 10px;
  }
  
  .contact-form-control input,
  .contact-form-control select,
  .contact-form-control textarea {
    border: 1px solid #777;
    border-radius: 10px;
    font-family: inherit;
    padding: 5px;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
  }
  .imgB {
    width: 50%;
  }
  
  .contact-tA{
    display:block;
    text-align:center;
    margin-top: 9rem;
  }
  .contact-bt{
    background-color: aqua;
    box-sizing: border-box;
    border-radius: 10%;
  }