
.Slider-body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }
 .slideImage{
   position: relative;
   width: 800px;
   height: 500px;
   margin: 10px;
   background: #2d5bd0;

 }
 .slideImage .slide{
   position:absolute;
   width: 100%;
   clip-path: circle(0% at 0 50%);
 }
 .slideImage .slide.active{
   clip-path: circle(150% at 0 50%);
   transition: 1.5s;
   transition-property: clip-path;
 }
 .slideImage .slide img{
   width: 100%;
   border-radius: 10px;
 }
 
 .slideImage .slide .slider-info{
   position: absolute;
   top: 20px;
   padding: 15px 30px;
 }
 .slideImage .slide .slider-info .slider-sec h2{
  margin-left:350px
 }
 .slideImage .slide .slider-info .slider-sec p{
  margin-left:290px
}
.slideImageju .slide .slider-info .slider-sec1 h2{
  margin-left:350px
 }
 .slideImage .slide .slider-info .slider-sec1 p{
  margin-left:290px

 }
 .slideImage .slide .slider-info h2{
   color: rgb(0, 0, 0);
   font-size: 45px;
   text-transform: uppercase;
   font-weight: 800;
   letter-spacing: 2px;
   padding: 10px;
 }
 
 .slideImage .slide .slider-info p{
   color: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.1);
   font-size: 16px;
   width: 60%;
   border-radius: 4px;
 }
 
 .slideImage .slider-navigation{
   position: absolute;
   display: flex;
   bottom: 60px;
   left: 50%;
   transform: translateX(-50%);
 }
 
 .slideImage .slider-navigation .btn1{
   background: rgba(21, 1, 1, 0.5);
   width: 11px;
   height: 11px;
   margin: 10px;
   border-radius: 50%;
   cursor: pointer;
   top: 50px;
 }
 
 .slideImage .slider-navigation .btn1.active{
   background: #2696E9;
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
 }